{% extends 'base.html' %}
{% block title %}DeployFlow | Intelligent Project &amp; Deployment Management Platform{% endblock %}
{% block content %}
<h3>DeployFlow User Activity</h3>
<table class="table table-striped">
  <thead><tr><th>Time</th><th>Action</th><th>Meta</th></tr></thead>
  <tbody>
    {% for a in activities %}
    <tr>
      <td>{{ a.timestamp }}</td>
      <td>{{ a.action }}</td>
      <td>{{ a.meta }}</td>
    </tr>
    {% else %}
    <tr><td colspan="3">No activity found.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
