{% extends 'base.html' %}
{% block title %}Create User{% endblock %}
{% block content %}
<h3>Create User</h3>
<form method="post">
  {{ form.hidden_tag() }}
  <div class="mb-3">{{ form.username.label }}{{ form.username(class_='form-control') }}</div>
  <div class="mb-3">{{ form.email.label }}{{ form.email(class_='form-control') }}</div>
  <div class="mb-3">{{ form.password.label }}{{ form.password(class_='form-control') }}</div>
  <div class="mb-3">{{ form.role.label }}{{ form.role(class_='form-select') }}</div>
  <button class="btn btn-success">Create</button>
</form>
{% endblock %}
